/.idea/
RedTeam/src/LITTLELexer.class
RedTeam/out/
RedTeam/src/LITTLELexer.java
RedTeam/src/LITTLELexer.interp
RedTeam/src/LITTLELexer.tokens
RedTeam/src/Main.class
RedTeam/target/
/RedTeam/out/
RedTeam/src/*.class
/RedTeam/src/LITTLE.interp
/RedTeam/src/LITTLE.tokens
/RedTeam/src/LITTLEBaseListener.java
/RedTeam/src/LITTLEListener.java
/RedTeam/src/LITTLEParser.java
/Exported Items.bib
/*.iml
