/.idea/
RedTeam/src/LITTLELexer.class
RedTeam/out/
RedTeam/src/LITTLELexer.java
RedTeam/src/LITTLELexer.interp
RedTeam/src/LITTLELexer.tokens
RedTeam/src/Main.class
RedTeam/target/
RedTeam/src/*.class
RedTeam/src/*.java
